<%- include('./../layouts/header.ejs', {title:'Listado de usuarios'}) -%>

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Modulo de NodeJS</h1>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row justify-content-between">
            <h4>Lista de usuarios</h4>
            <a href="/create" class="btn btn-sm btn-success">Crear</a>
          </div>
          <div class="row">
            <table class="table table-respondive table-hover text-center">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% usuario.forEach(element => { %>
                  <tr>
                    <td><%= element.id %></td>
                    <td><%= element.nombre %></td>
                    <td>
                      <a class="btn btn-primary" href="/show/<%= element.id %>">Ver detalles</a>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </main>

<%- include('./../layouts/footer.ejs') -%>
